:root {
    --blanco: #ffffff; 
    --oscuro: #212121; 
    --primario: #ffc107;
    --secundario: #032e5c;
    --gris:#757575;

    --fuente: 'Noto Serif', serif;
}

html {
    box-sizing: border-box;
    font-size:62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
   
}
/*GLOBALES*/

body{
    background-color: rgb(8, 26, 30);
    font-size: 1.6rem;
    line-height: 0.5; /*base de la fuente*/
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto; /*centrar */
}

h1, h2, h3{
    text-align: center;
    color: black;
    font-family:var(--fuente);
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4;
}

/*HEADER*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem;
}
/*FOOTER*/
.footer{
background-color: rgb(87, 56, 56);
padding: 1rem 0 ;
margin-top: 2rem;
}
.footer__texto{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;

}

/*NAVEGACION*/
.navegacion{
 background-color: rgb(87, 56, 56);
 padding: 1rem 0; 
 display: flex;
 justify-content: center;
 /*gap: 2rem; correccion de gap */

}

.navegacion__enlace{
 font-family: var(--fuentePrincipal);
 color: var(--otrorosa);
 font-size:5rem;
 margin-right:2rem;
}

.navegacion__enlace:last-of-type{
    margin-right: 0%;
}
.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: rgb(228, 122, 140);
}

/*grid*/
.grid{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2rem;
}
@media (min-width:768px) {
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}
/**productos*/
.producto{
background-color: rgb(29, 33, 59);/*fondo detras d elos planetas */
padding: 1rem;
}
.producto2{
    background-color: rgb(51, 55, 82);/*fondo detras d elos planetas */
    padding: 1rem;
    margin:auto;
}
.producto__imagen{
width: 100%;
}
.producto__nombre{
font-size: 4rem; /*4rem=40px*/
}
.producto__precio{
font-size: 2.8rem;
color: var(--otrorosa);
}
.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem;
    text-align: center;
    line-height: 1.2;
}
/*GRAFICOS*/
.grafico{

}
.grafico--camisa{

}
.grafico--node{
    
}

/*nosotros*/
@media (min-width:768px){
    .nosotros{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 2rem;
}
}

.nosotros__contenido{

}
.nosotros__imagen{
 grid-row: 1 / 2;
}
.encabezado{
    background-color: rgba(251, 253, 123, 0.717);/*fondo detras d elos planetas */
    padding: 7rem;
    margin-top: 3% ; 
    margin-bottom: 3%;
}

